img {
  display: flex;
}

body {
  background-image: url("f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  display: flex;
}

h3,
ul,
li {
  padding: 0px;
}

h1 {
  color: yellow;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.messi-card {
  background-color: black;
  width: 340px;
  height: 415px;
  border-style: solid;
  border-color: rgb(0, 255, 234);
  border-width: 3px;
  border-radius: 5%;
}

.messi-img {
  margin-bottom: 20px;
  padding: 20px;
  width: 290px;
  height: 250px;
}

.messi-card:hover {
  transform: Scale(1.1);
  transform: rotate(10deg);
  transition: all 0.5s;
  opacity: 0.8;
}

h3 {
  color: rgb(0, 255, 166);
  text-align: center;
}

ul {
  color: white;
  text-align: center;
  list-style: none;
}

.mpape-card {
  background-color: black;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-style: solid;
  border-color: rgb(0, 255, 234);
  border-width: 3px;
  border-radius: 5%;
}

.mpape-img {
  width: 250px;
  padding: 20px;
  height: 250px;
  margin-bottom: 20px;
}

.mpape-card:hover {
  transform: Scale(1.1);
  transform: rotate(10deg);
  transition: all 0.5s;
  opacity: 0.8;
}

.ronaldo-img {
  width: 250px;
  padding: 20px;
  height: 250px;
  margin-bottom: 20px;
}
.ronaldo-card:hover {
  transform: Scale(1.1);
  transform: rotate(10deg);
  transition: all 0.5s;
  opacity: 0.8;
}

.ronaldo-card {
  background-color: black;
  width: 300px;
  border-style: solid;
  border-color: rgb(0, 255, 234);
  border-width: 3px;
  border-radius: 5%;
}
